body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    /* Light gray */
    color: #333;
    /* Dark gray */
    line-height: 1.6;
}

.btn {
    background-color: #000080;
    /* Navy */
    color: #fff;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

.gallery-slide {
    animation: slide 20s infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 1s ease-in;
}

.header-bg {
    background-color: #1e90ff;
    /* Sea wave blue */
}

.nav-bg {
    background-color: #4682b4;
    /* Steel blue */
}

.card-bg {
    background-color: #ffffff;
    /* White */
}


.btn {
    background-color: #000080;
    color: #fff;

}

.btn__link {
    text-align: center;
}

.btn__link>a {
    background: (37, 99, 235, 1)
}

.btn:hover {
    background-color: #0000cd;
    /* Darker navy */
}

.footer-bg {
    background-color: #2f4f4f;
    /* Dark slate gray */
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 1s ease-in;
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-up {
    animation: slideUp 0.8s ease-out;
}

@keyframes pulseSlow {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.animate-pulse-slow {
    animation: pulseSlow 2s infinite;
}

.codetime {
    border-radius: 50%;
    background: red;
}

header>img {
    border-radius: 50%;
}